<h3 class="text-center m-3">Create collection</h3>
<div class="d-flex justify-content-center align-items-center m-3">
  <% if @collection.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false">
      <% @collection.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <%= form_with model: @collection do |form| %>
    <div class="form-groupc mb-2">
      <%= form.label :title, class:"form-label"%><br>
      <%= form.text_field :title, required: true, class: "form-control" %>
    </div>
    <div class="form-group mb-2">
      <%= form.label :description, class:"form-label" %><br>
      <%= form.text_area :description, class: "tinymce" %>
    </div>
    <div class="form-group mb-2">
      <%= form.label :publish, class:"form-label" %>
      <%= form.check_box :publish %>
    </div>
    <div class="form-group mb-2">
      <%= form.label :images, class:"form-label" %><br>
      <%= form.file_field :images, direct_upload: true, multiple: true %>
    </div>
    <div class="text-center">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


