<!DOCTYPE html>
<html>
  <head>
    <title>Hometask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "home/bootstrap" %>
  </head>

  <body>
    <%= render "home/header" %>
<!--    TODO <div class="alert alert-primary"><%#= notice %></div>-->
<!--    <div class="alert alert-warning"><%#= alert %></div>-->
    <%= yield %>
    <%= render "home/footer" %>
  </body>
</html>
